h2{
   font-family: Sansita Swashed;
   font-weight: 400;
}
h3 {
color:white;
font-family: Castoro;
font-weight: 450;
font-size: 60px;

}
h5 {
color:blue;
font-family: Cuprum;
font-weight: 600;
font-size: 30px;
}
span {
   font-size: 25px;

   
   
}